﻿@media screen and (max-width: 767px) {
    body {
        zoom: 0.36;
    }

    @media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) {
        body {
            zoom: 0.73 !Important;
        }
    }

    @media only screen and (min-width: 400px) and (max-width: 736px) and (orientation : portrait) {
        body {
            zoom: 0.42 !Important;
        }
    }

    @media only screen and (min-width: 360px) and (max-width: 740px) and (orientation : portrait) {
        body {
            zoom: 0.36 !Important;
            overflow-x: hidden !important;
        }
    }

    @media only screen and (min-width: 357px) and (max-width: 667px) and (orientation : landscape) {
        body {
            zoom: 0.66 !Important;
        }
    }

    @media only screen and (min-width: 357px) and (max-width: 667px) and (orientation : portrait) {
        body {
            zoom: 0.38 !Important;
        }
    }


    @media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : landscape) {
        body {
            zoom: 0.56 !Important;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : portrait) {
        body {
            zoom: 0.32 !Important;
        }
    }


    @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation : landscape) {
        body {
            zoom: 0.46 !Important;
        }
    }

    @media only screen and (min-width: 320px) and (max-width: 480px) and (orientation : portrait) {
        body {
            zoom: 0.315 !Important;
        }
    }

    @media only screen and (min-width: 360px) and (max-width: 740px) and (orientation : portrait) {
        body {
            zoom: 0.36 !Important;
            overflow-x: hidden !important;
        }
    }

    @media only screen and (min-width: 360px) and (max-width: 740px) and (orientation : landscape) {
        body {
            zoom: 0.73 !Important;
        }
    }
}

#ftr_imageContainer_133 {
    left: 347px !Important;
}

@media only screen and (min-width: 760px) and (max-width: 820px) and (orientation : landscape) {
    body {
        zoom: 0.82 !Important;
    }
}

.footer_follow {
    text-align: center;
    left: 0px;
}

.ftr_txtBox_136 {
    top: 306px !important;
    left: 44px !important;
    /*width: 457px !important;*/ */;
}

.ftr_txtBox_137 {
    top: 348px !important;
    left: 22px !important;
    /*width: 992px !important;*/
}

.social1 {
    top: 421px !important;
    left: 35px !important;
    /*width: 381px !important;*/
}

#ftr_imageContainer_134, #ftr_imageContainer_135 {
    top: 411px !important;
}

#ftr_imageContainer_135 {
    left: 345px !important;
}

#ftr_imageContainer_134 {
    left: 514px !important;
}


#ftr_txtBox_132 .fs-24 {
    font-size: 20px !important;
    font-family: 'Archivo Narrow' !important;
}

#ftr_imageContainer_133 {
    width: 194px !important;
}

    #ftr_imageContainer_133 img {
        margin-top: 17px !important;
        margin-left: 92px !important;
        width: 96px !important;
        height: 112px !important;
    }

.animated {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.hdr_btnTool_137 {
    top: 226px !important;
    left: 421px !important;
    width: 123px !important;
    height: 46px !important;
}

#ftr_txtBox_132 {
    top: 29px !important;
}

#ftr_imageContainer_133 {
    top: 61px !important;
}

#txtBox_262 {
    top: 152px !important;
    left: 88px !important;
    width: 216px !important;
}

element.style {
    position: absolute;
}

#hdr_staticMenu_1 {
    z-index: 170 !important;
}

.mobileshow {
    display: none;
}

.desktopshow {
    display: block;
}

@media screen and (max-width: 767px) { 
    .mobileshow {
        display: block;
    }

    .desktopshow {
        display: none;
    }
}

.hdr_btnTool_137 {
    top: 232px !important;
}
