﻿.mobileshow {
    display: none;
}

.desktopshow {
    display: block;
}

@media screen and (max-width: 767px) {


    .mobileshow {
        display: block;
    }

    .desktopshow {
        display: none;
    }
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}


@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : landscape) {
    body {
        zoom: 0.56 !Important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation : portrait) {
    body {
        zoom: 0.3 !Important;
    }
}

@media only screen and (min-width: 357px) and (max-width: 667px) and (orientation : portrait) {
    body {
        zoom: 0.35 !Important;
    }
}

@media only screen and (min-width: 357px) and (max-width: 667px) and (orientation : landscape) {
    body {
        zoom: 0.66 !Important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : portrait) {
    body {
        zoom: 0.39 !Important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation : landscape) {
    body {
        zoom: 0.73 !Important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation : landscape) {
    body {
        zoom: 0.47 !Important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 740px) and (orientation : landscape) {
    body {
        zoom: 0.73 !Important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 820px) and (orientation : landscape) {
    body {
        zoom: 0.82 !Important;
    }
}


@media screen and (max-width: 767px) {
    body {
        zoom: 0.36;
    }
}

.social {
    top: 105px !important;
}


.wse-txt-bm {
    font-size: 15px !important;
}

footer {
    height: 0px !important;
}

    footer > #footer-wrap {
        height: 0px !important;
    }

.footer_follow {
    text-align: center;
    left: 0px;
}

.ftr_txtBox_136 {
    top: 0px !important;
    left: 44px !important;
    /*width: 457px !important;*/ */;
}

.ftr_txtBox_137 {
    top: 40px !important;
    left: 22px !important;
    /*width: 992px !important;*/
}

.social1 {
    top: 115px !important;
    left: 35px !important;
    /*width: 381px !important;*/
}

#ftr_imageContainer_134, #ftr_imageContainer_135 {
    top: 105px !important;
}

#ftr_imageContainer_135 {
    left: 345px !important;
}

#ftr_imageContainer_134 {
    left: 514px !important;
}


#ftr_txtBox_132 .fs-24 {
    font-size: 20px !important;
    font-family: 'Archivo Narrow' !important;
}

#ftr_imageContainer_133 {
    width: 194px !important;
}

    #ftr_imageContainer_133 img {
        margin-top: 17px !important;
        margin-left: 92px !important;
        width: 96px !important;
        height: 112px !important;
    }

.animated {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.hdr_btnTool_137 {
    top: 226px !important;
    left: 421px !important;
    width: 123px !important;
    height: 46px !important;
}


#txtBox_262 {
    top: 152px !important;
    left: 88px !important;
    width: 216px !important;
}

element.style {
    position: absolute;
}

#hdr_staticMenu_1 {
    z-index: 170 !important;
}

#body-content {
    height: 2364px !important;
}
