﻿@{
    Layout = null;
}
@model travelrewardsNew.Models.formmodal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Travel Rewards Vacations offers amazing VISA GIFT CARDS and relaxing free vacations to destinations worldwide. Select your travel rewards today before our promotions expire.">
    <meta name="keywords" content="travel reward vacations, vacations offers, travel rewards, travel reward">
    <meta name="author" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-1.7.2.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <meta http-equiv="Expires" content="0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="@Url.Content("~/AreaAssets/css/test-slider-fullwidth.css")" rel="stylesheet">
    <title>
       Get an Amazing Vacation and Cruise
    </title>
    <noscript id="deferred-styles">
        <link href="@Url.Content("~/AreaAssets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/AreaAssets/css/style.min.css")" rel="stylesheet ">
        <link href="@Url.Content("~/AreaAssets/css/fntl1main.min.css")" rel="stylesheet ">
    </noscript>
    <style>

        .input-row .field-validation-error {
            display: inline-block;
            width: 100% !important;
            text-align: center !important;
            color: red !important;
        }

        .f-items {
            margin-top: 30px;
        }

        .input-row .field-validation-error span {
            color: red !important;
        }

        .overlay {
            background-color: rgba(255,255,255,0.8);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url(../AreaAssets/images/ajax-loader.gif);
            z-index: 99999;
            background-position: center;
            background-repeat: no-repeat;
        }

        .f-desc {
            font-family: TitilliumWebLight;
            font-size: 18px;
        }
    </style>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);

        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415153395693685');
        fbq('track', 'ViewContent');
    </script>

    <link rel="canonical" href="https://www.travelrewardsvacations.com/" />
    <script type='application/ld+json'>
        {
        "@@context": "http://www.schema.org",
        "@@type": "WebSite",
        "name": "Travel Rewards",
        "alternateName": "travelrewardsvacations",
        "url": "https://www.travelrewardsvacations.com/"
        }
    </script>
    <meta name="google-site-verification" content="-hxW7EKhkxTk1rAfVLpeT6Su6FwMGanyLVWx0D5sefk" />
    <meta name="msvalidate.01" content="D77B960CF4A95731AED1D67AC7CD8636" />

</head>
<body id="page-top">
    <div class="overlay" style="display:none"></div>
    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="notdisplay" src="https://sp.analytics.yahoo.com/spp.pl?a=10000&.yp=10072087" />
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger mainlogo" href="#page-top">
                <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/loghead-o.png")">
                <span class="spanlog">
                    &nbsp;&nbsp;TRAVEL<br>  SERVICES
                </span>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto ulmrgt">
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger" href="#">Nationwide Getaway</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger lilast-child srtylenew" href="#">Resort Stay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger" href="#">Hawaii Vacation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger lilast-child srtylenew" href="#">
                            CRUISE FOR TWO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger openPhoneoly" href="#">
                            All Inclusive Vacations
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-7">
                    <div class="intro-text">
                        <div class="intro-lead-in fontnew fnt36">
                            GET YOUR TRAVEL VACATIONS TODAY AND ENJOY OUR AMAZING GETAWAYS AND<br /> EXCITING CRUISES
                        </div>
                        <a class="btn btn-primary  text-uppercase js-scroll-trigger none-windos responsivphone" href="#">
                            CLAIM YOUR FREE
                            VACATIONS
                        </a>
                        <a id="menu-button" style="display:none">
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    @using (Html.BeginForm("#", "#", FormMethod.Post, new { role = "form",@id="Form1" }))
                    {

                        <div class="form-boxmid">
                            <h1 class="fontnew fnt400">Promotion Expires @(DateTime.Now.AddDays(1).ToString("MMM d, yyyy"))</h1>
                            <h4 class="fontnew fnt400">COMPLETE THE FORM</h4>
                            <div class="input-row mrgtop0">
                                @Html.TextBoxFor(a => a.firstname, new { @maxlength = "30", @placeholder = "First Name", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.firstname)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.lastname, new { @maxlength = "30", @placeholder = "Last Name", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.lastname)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.cell, new { @maxlength = "10", @placeholder = "Cell Phone", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.cell)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.email, new { @maxlength = "45", @type = "email", @placeholder = "Email Address", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.email)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.zip, new { @maxlength = "5", @type = "text", @placeholder = "Zip Code", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.zip)
                            </div>
                            <div class="input-row inpurow1">

                                <h3 class="fontnew inputro2">
                                    <span style="width: 100% !important;">
                                        <input id="chk" type="checkbox" required="required" style="width: 18px !important;">By checking this checkbox, I provide my consent

                                        &amp; signature to receive promotional text and emails from Travel Vacation Services.
                                    </span>
                                </h3>
                            </div>
                            <div class="input-row mrgtop11">
                                <input type="button"   class="btn btn-primary butn2 class12" style="font-size: 16px !important;" value="Unlimited Access" />
                            </div>
                            <div class="input-row inpurow1">
                                <h3 class="fontnew inputro2">
                                    Get Unlimited Access to our Vacations and Exclusive  Offers
                                </h3>
                            </div>
                        </div>  
                    } 
                </div>
            </div>
        </div>
    </header>
    <header class="mobile-banner">
        <div class="container">
            <div class="row">
                <div class="">
                    <a href="#" >
                        <img alt="travelrewardsvacations" title="travelrewardsvacations" style="height:100% !important" class="img-responsive prt fullhw" src="@Url.Content("~/AreaAssets/img/imghrt.jpg?v=1.0")" />
                        <img alt="travelrewardsvacations" title="travelrewardsvacations" style="height:100% !important" class="img-responsive lnd fullhw" src="@Url.Content("~/AreaAssets/img/imgvrt.jpg?v=1.0")" />
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section id="services" class="">
        <div class="container">
            <div class="row  none-windos">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id='comp-vacation-offers'><span>About our program</span></h2>

                    <div id="feature">
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/profile_icon_pk.svg?v=124")"></div>
                            <div class="f-desc"><span class="f-title">Get Started:</span> Answer a few questions to continue towards your <span class="DynDivCont2">$1000 VISA Gift Card</span>.</div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/deals_icon_pk.svg?v=123")"></div>
                            <div class="f-desc">
                                <span class="f-title">Discover:</span> Download and play free online games, try new monthly subscription boxes, discover the best entertainment services, and much, much

                                more.
                            </div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/credit_cards_icon_pk.svg?v=123")"></div>
                            <div class="f-desc">
                                <span class="f-title">Redeem:</span> Redeem your Reward after completing our Program Requirements, which can be done in under 24 hours! It typically takes our customer service team a few

                                weeks to verify and deliver your Reward.
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row hdn">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase hdn" id='comp-vacation-offers'><span> TRAVEL REWARD VACATIONS</span></h2>
                    <h3 class="section-subheading text-muted hdn">
                        GET YOUR UNLIMITED LIFETIME ACCESS TO OUR EXCLUSIVE TRAVEL VACATIONS BEFORE OUR PROMOTION EXPIRES @(DateTime.Now.AddDays(1).ToString("MMM d, yyyy")).  ENJOY FUN EXCLUSIVE OFFERS AND RELAXING

                        VACATIONS TO RESORT DESTINATIONS WORLDWIDE.
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionnew" class="none-windos">

        <div class="container none-windos">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id='comp-vacation-offers'><span>Our Customers Are Seeing Big Results</span></h2>
                    <div class="carousel-controls testimonial-carousel-controls">
                        <div class="control d-flex align-items-center justify-content-center prev mt4"><i class="fa fa-chevron-left"></i></div>
                        <div class="control d-flex align-items-center justify-content-center next mt4"><i class="fa fa-chevron-right"></i></div>

                        <div class="testimonial-carousel">
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">
                                        I LOVE THE DISNEY PLUS DEAL BECAUSE IT HAS INCREDIBLE MOVIES ON IT/AND I ENJOY DEALS LIKE THIS-ITS INCREDIBLE/I THINK YOU GUYS ARE AWSOME AND YOU SHOULD BE

                                        BLESSED FOR THIS BLESSING IN THE SAME....GODBLESS
                                    </div>
                                    <div class="re-info"><span>Cornelius Pringle</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-4"></div>
                                    <div class="message text-center blockquote w-100">i loved this experience it was fun and easy !</div>
                                    <div class="re-info"><span>Thomas</span> | <span>Claimed  $1199 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">Such an easy process! Got me $1000 and I only spent like $6! Such a great deal!</div>
                                    <div class="re-info"><span>Michelle</span> | <span>Claimed  $1000 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">My favorite deal was rewards for surveys i love taking surveys and getting deals...</div>
                                    <div class="re-info"><span>Nicole</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I absolutely loved the deals</div>
                                    <div class="re-info"><span>Krishna</span> | <span>Claimed  $75 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-4"></div>
                                    <div class="re-comments">My favorite deal was the ABC Mouse, I have always seen it but never tried it out...</div>
                                    <div class="re-info"><span>Lizette</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I wanna know how you feel of me winning my money I hope is honestly real...</div>
                                    <div class="re-info"><span>Delbert Iyatunguk</span> | <span>Claimed  $1000 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I liked all of the offers I signed up for and there were plenty of options to choose from. The website was also very user friendly.</div>
                                    <div class="re-info"><span>Benjamin Dunakey</span> | <span>Claimed  $1099 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">This was a fun little problems but so good.</div>
                                    <div class="re-info"><span>Jaden Silvestre</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="#" onclick="submitoffer('@Model.firstname','@Model.lastname','@Model.cell','@Model.email','@Model.address','@Model.city','@Model.state','@Model.zip')" class="btn btnbox butn3 none-windos text-conten-procut-a" style="border-radius: 46px;">CLICK HERE</a>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $(".testimonial-carousel").slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: false,
                        arrows: true,
                        prevArrow: $(".testimonial-carousel-controls .prev"),
                        nextArrow: $(".testimonial-carousel-controls .next")
                    });

                    $slick = $('.testimonial-carousel');
                    $slick.on('swipe', function (event, slick, direction) {
                        reinitSlick();
                    });

                    $('.slick-prev, .slick-next').on('click', function () {
                        reinitSlick();
                    });
                    var reinitSlick = function () {
                        $slick.slick('slickSetOption', {
                            'autoplay': false
                        }, false);
                    }
                });

            </script>
        </div>

    </section>
    <section id="section1" class="section-all hdn">



        <div class="container hdn">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="hdn" src="@Url.Content("~/AreaAssets/img/7nlr.jpg")">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="none-windos" src="@Url.Content("~/AreaAssets/img/flnt27nlr.jpg")">

                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 7-NIGHT LUXURY RESORT STAY</h2>
                        <p>
                            Plan your dream vacation by searching for a spectacular week-long stay at hundreds of popular Resort Destinations around the world for the entire week! Experience tropical paradises, lush

                            countrysides, snowcapped mountains and more!
                        </p>
                        <a href="#" class="btn btnbox hdn butn3 rm">Read More</a>
                    </div>
                    <div>
                        <a href="#" class="btn btnbox butn3 none-windos text-conten-procut-a">Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section2" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/2nhmi.png")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 3 DAY HOTEL GETAWAY VACATION</h2>
                        <p>
                            Enjoy 2 Exciting Evenings of  Hotel Accommodations at one of the Top Vacation Destinations, such as Orlando, Las Vegas, Los Angeles, Daytona, Fort Lauderdale, Branson, Sedona and

                            More!
                        </p>
                        <a href="#" id='florida' class="btn btnbox hdn butn3 rm">Read More</a>

                    </div>
                    <div>
                        <a href="#" class="btn btnbox butn3 none-windos text-conten-procut-a" id='brahmas-cruise'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section3" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/Flv.png")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 5 DAY HAWAII VACATION </h2>
                        <p>
                            It's the perfect mix of the world's premier entertainment playground and a vacation paradise, with its beaches offering relaxation, recreation and pleasure!  You are sure to make a lifetime

                            of memories on the islands of paradise.

                        </p>
                        <a href="#" class="btn btnbox hdn butn3 rm " style="margin-top: 10px;" id='resort_stay'>Read More</a>
                    </div><div>
                        <a href="#" class="btn btnbox butn3 none-windos text-conten-procut-a" id='resort_stay'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section4" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/trsd.jpg")">
                </div>
                <div class="col-lg-6 text-center">
                    <div class="text-conten-procut">
                        <h2>
                            ALL INCLUSIVE VACATIONS TO THE CARIBBEAN & MEXICO
                        </h2>
                        <p>
                            Enjoy 4 days and 3 nights of all-inclusive accommodations at one of the following destinations: Bahamas, Domincan Republic or Mexico. Includes all meals, beverages and non-motorized

                            activities!
                        </p>
                        <a href="#" class="btn btnbox hdn butn3 rm">Read More</a>
                    </div><div>
                        <a href="#" class="btn btnbox butn3 none-windos text-conten-procut-a">Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section5" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="hdn" id="imgship" src="@Url.Content("~/AreaAssets/img/2.jpg")">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" id="imgship" class="none-windos" src="@Url.Content("~/AreaAssets/img/2_mobile.jpg")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">

                        <h2 style="text-transform: unset !important;">PICK a  3, 4, 5, or 7 NIGHT CRUISE </h2>
                        <p>
                            Enjoy a  Cruise for two that includes cabin, food, drinks & more! Enjoy your comfortable cabin, all your delicious meals, live stage shows and a stunning Las Vegas style casino!

                            Its the perfect, relaxing getaway...Bon Voyage!
                        </p>
                        <a href="#" class="btn btnbox hdn butn3 rm" id='brahmas-cruise'>Read More</a>
                    </div><div>

                        <a href="#" class="btn btnbox butn3 none-windos text-conten-procut-a" id='brahmas-cruise'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="mainfooter">
        <div class="container footer-secure-logo">
            <img alt="travelrewardsvacations" title="travelrewardsvacations" src="/AreaAssets/img/secure-logo.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 hdn">
                    <div class="boxmidfooter">
                        <a href="#">Privacy Policy</a>
                        <a class="nav-link js-scroll-trigger active" href="#">Terms and Conditions</a>
                        <a href="mailto:support@travelrewardsvacations.com"> Contact Us</a>
                    </div>
                    <span class="copyright">Copyright &copy; 2018 Travel Vacation Services</span>
                </div>
                <div class="col-md-12 none-windos">
                    <div class="boxmidfooter">

                        <a style="text-decoration:underline;font-size:16px;" href="#">Privacy Policy</a>
                        <a style="text-decoration:underline;font-size:16px;" href="#"> Contact Us</a>
                    </div>
                    <span class="copyright">Copyright &copy; 2018 Travel Vacation Services</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("~/AreaAssets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/AreaAssets/vendor/jquery-easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/AreaAssets/js/agency.min.js")"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133181677-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-133181677-1');
        gtag('event', 'conversion', { 'send_to': 'AW-960425364/E4yTCK2SjJQBEJTb-8kD' });
    </script>
    <script type="text/javascript">
        (function () {
            window._pa = window._pa || {};
            var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
            pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5c48b1f5670ede0f3a0000bb.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
        })();
    </script>

    <script>
        $("#mainNav").removeClass("active");
        $(window).on("load", function () {
            $(".nav-link").on("click", function () {
                $(".navbar-toggler").trigger("click");
            });
            
        });
       

        function submitoffer(fname, lastname, cell, email, address, city, state, zip) {
                
        }
        function submitoffer2(fname, lastname, cell, email, address, city, state, zip) { 
        }

        function SendvisitAsync() {
             
        } SendvisitAsync();


    </script>
    <style>
        .butn3 {
            background-color: #1AA204 !important;
            border-color: #1AA204 !important;
            font-size: 20px !important;
        }

        @@media (max-width: 768px) {
            .text-conten-procut-a {
                background-color: #1AA204 !important;
                border-color: #1AA204 !important;
                font-size: 20px !important;
            }
        }

        @@media screen and (max-width: 767px) {
            .mainfooter {
                background: #3698d5 !important;
            }
        }
    </style>
</body>
</html>