﻿@{
    Layout = null;

}
@model travelrewardsNew.Models.formmodal
@{
    int clickcount = Model.autoclick;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Travel Rewards Vacations offers amazing VISA GIFT CARDS and relaxing free vacations to destinations worldwide. Select your
 travel rewards today before our promotions expire.">
    <meta name="keywords" content="travel reward vacations, vacations offers, travel rewards, travel reward">
    <meta name="author" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-1.7.2.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <meta http-equiv="Expires" content="0" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="@Url.Content("~/AreaAssets/css/test-slider-fullwidth.css")" rel="stylesheet">
    <title>
        Get a Complimentary $1000 Visa Gift Card
    </title>
    <noscript id="deferred-styles">
        <link href="@Url.Content("~/AreaAssets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/AreaAssets/css/style.min.css")" rel="stylesheet ">
        <link href="@Url.Content("~/AreaAssets/css/fntl1main.min.css")" rel="stylesheet ">
    </noscript>
    <style>

        .ser .f-icon {
            font-size: 19px;
            margin-bottom: 10px;
        }

        .input-row .field-validation-error {
            display: inline-block;
            width: 100% !important;
            text-align: center !important;
            color: red !important;
        }

        .f-items {
            margin-top: 30px;
        }

        .input-row .field-validation-error span {
            color: red !important;
        }

        .overlay {
            background-color: rgba(255,255,255,0.8);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url(../AreaAssets/images/ajax-loader.gif);
            z-index: 99999;
            background-position: center;
            background-repeat: no-repeat;
        }

        .f-desc {
            font-family: TitilliumWebLight;
            font-size: 18px;
        }
    </style>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '415153395693685');
        fbq('track', 'ViewContent');
    </script>

    <link rel="canonical" href="https://www.travelrewardsvacations.com/" />
    <script type='application/ld+json'>
        {
        "@@context": "http://www.schema.org",
        "@@type": "WebSite",
        "name": "Travel Rewards",
        "alternateName": "travelrewardsvacations",
        "url": "https://www.travelrewardsvacations.com/"
        }
    </script>
    <meta name="google-site-verification" content="-hxW7EKhkxTk1rAfVLpeT6Su6FwMGanyLVWx0D5sefk" />
    <meta name="msvalidate.01" content="D77B960CF4A95731AED1D67AC7CD8636" />

</head>
<body id="page-top">
    <div class="overlay" style="display:none"></div>
    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="notdisplay" src="https://sp.analytics.yahoo.com/spp.pl?a=10000&.yp=10072087" />


    <header class="mobile-banner">
        <div class="container">
            <div class="row">
                <div class="">
                    <a href="#" onclick="submitoffer('@Model.cell','@Model.email')">
                         <img alt="travelrewardsvacations" title="travelrewardsvacations" style="height:100% !important" class="img-responsive prt fullhw" src="@Url.Content("~/AreaAssets/img/imgvrt.jpg?v=1.2")" />
                        <img alt="travelrewardsvacations" title="travelrewardsvacations" style="height:100% !important" class="img-responsive lnd fullhw" src="@Url.Content("~/AreaAssets/img/imghrt.jpg?v=1.2")" />
                    </a>
                    <a id="menu-button" style="display:none">
                    </a>

                </div>
            </div>
        </div>
    </header>
    <section id="services" class="ser">
        <div class="container">
            <div class="row  none-windos">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id='comp-vacation-offers'><span>Complimentary Vacation Offers</span></h2>

                    <div id="feature">
                        <div class="f-items">
                            <div class="f-icon">
                                3 Day Hotel Getaway Vacation
                            </div>
                            <div class="f-desc"> Enjoy 2 Exciting Evenings of Complimentary Hotel Accommodations at one of the Top Vacation Destinations, such as Orlando, Las Vegas, Los Angeles, Daytona, Fort Lauderdale, Branson, Sedona and More!</div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon">
                                5 Day Hawaii Vacation
                            </div>
                            <div class="f-desc">Plan your dream vacation by searching for a spectacular week-long stay at hundreds of popular Resort Destinations around the world for the entire week! Experience tropical paradises, lush countrysides, snowcapped mountains and more!</div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon">
                                All Inclusive Vacations to the Caribbean & Mexico
                            </div>
                            <div class="f-desc">Enjoy 4 days and 3 nights of all-inclusive accommodations at one of the following destinations: Bahamas, Domincan Republic or Mexico. Includes all meals, beverages and non-motorized activities!</div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon">
                                Pick a 3, 4, 5 or 7 Night Cruise
                            </div>
                            <div class="f-desc">Enjoy a Complimentary Cruise for two that includes cabin, food, drinks & more! Enjoy your comfortable cabin, all your delicious meals, live stage shows and a stunning Las Vegas style casino! Its the perfect, relaxing getaway...Bon Voyage!</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="services" class="">
        <div class="container">
            <div class="row  none-windos">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id='comp-vacation-offers'><span>About our program</span></h2>

                    <div id="feature">
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/profile_icon_pk.svg?v=124")"></div>
                            <div class="f-desc"><span class="f-title">Get Started:</span> Answer a few questions to continue towards your <span class="DynDivCont2">$1000 VISA Gift Card and Complimentary Vacation Offers</span>.</div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/deals_icon_pk.svg?v=123")"></div>
                            <div class="f-desc"><span class="f-title">Discover:</span> Download and play free online games, try new monthly subscription boxes, discover the best entertainment services, and much, much more. </div>
                        </div>
                        <div class="f-items">
                            <div class="f-icon"><img src="@Url.Content("~/AreaAssets/img/credit_cards_icon_pk.svg?v=123")"></div>
                            <div class="f-desc">
                                <span class="f-title">Redeem:</span> Redeem your Reward after completing our Program Requirements, which can be done in under 24 hours! It typically takes our customer service team a few weeks to verify

                                and deliver your Reward.
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="sectionnew">

        <div class="container none-windos">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase" id='comp-vacation-offers'><span>Our Customers Are Seeing Big Results</span></h2>
                    <div class="carousel-controls testimonial-carousel-controls">
                        <div class="control d-flex align-items-center justify-content-center prev mt4"><i class="fa fa-chevron-left"></i></div>
                        <div class="control d-flex align-items-center justify-content-center next mt4"><i class="fa fa-chevron-right"></i></div>

                        <div class="testimonial-carousel">
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">
                                        I LOVE THE DISNEY PLUS DEAL BECAUSE IT HAS INCREDIBLE MOVIES ON IT/AND I ENJOY DEALS LIKE THIS-ITS INCREDIBLE/I THINK YOU GUYS ARE AWSOME AND YOU SHOULD BE BLESSED FOR THIS

                                        BLESSING IN THE SAME....GODBLESS
                                    </div>
                                    <div class="re-info"><span>Cornelius Pringle</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-4"></div>
                                    <div class="message text-center blockquote w-100">i loved this experience it was fun and easy !</div>
                                    <div class="re-info"><span>Thomas</span> | <span>Claimed  $1199 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">Such an easy process! Got me $1000 and I only spent like $6! Such a great deal!</div>
                                    <div class="re-info"><span>Michelle</span> | <span>Claimed  $1000 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">My favorite deal was rewards for surveys i love taking surveys and getting deals...</div>
                                    <div class="re-info"><span>Nicole</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I absolutely loved the deals</div>
                                    <div class="re-info"><span>Krishna</span> | <span>Claimed  $75 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-4"></div>
                                    <div class="re-comments">My favorite deal was the ABC Mouse, I have always seen it but never tried it out...</div>
                                    <div class="re-info"><span>Lizette</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I wanna know how you feel of me winning my money I hope is honestly real...</div>
                                    <div class="re-info"><span>Delbert Iyatunguk</span> | <span>Claimed  $1000 </span></div>
                                </div>
                            </div>

                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">I liked all of the offers I signed up for and there were plenty of options to choose from. The website was also very user friendly.</div>
                                    <div class="re-info"><span>Benjamin Dunakey</span> | <span>Claimed  $1099 </span></div>
                                </div>
                            </div>
                            <div class="h5 font-weight-normal one-slide mx-auto">
                                <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                    <div class="re-stars re-5"></div>
                                    <div class="re-comments">This was a fun little problems but so good.</div>
                                    <div class="re-info"><span>Jaden Silvestre</span> | <span>Claimed  $100 </span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="#" onclick="submitoffer()" class="btn btnbox butn3 none-windos text-conten-procut-a" style="border-radius: 46px;">CLICK HERE</a>
                </div>
            </div>
            <script>
                $(document).ready(function () {
                    $(".testimonial-carousel").slick({
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        autoplay: false,
                        arrows: true,
                        prevArrow: $(".testimonial-carousel-controls .prev"),
                        nextArrow: $(".testimonial-carousel-controls .next")
                    });

                    $slick = $('.testimonial-carousel');
                    $slick.on('swipe', function (event, slick, direction) {
                        reinitSlick();
                    });

                    $('.slick-prev, .slick-next').on('click', function () {
                        reinitSlick();
                    });
                    var reinitSlick = function () {
                        $slick.slick('slickSetOption', {
                            'autoplay': false
                        }, false);
                    }
                });

            </script>
        </div>

    </section>

    <footer class="mainfooter">
        <div class="container footer-secure-logo">
            <img alt="travelrewardsvacations" title="travelrewardsvacations" src="/AreaAssets/img/secure-logo.png">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 none-windos">
                    <div class="boxmidfooter">
 <a style="text-decoration:underline;font-size:16px;" href="@Url.Action("index","privacypolicy")">Privacy Policy</a>
                            <a style="text-decoration:underline;font-size:16px;" href="mailto:support@travelrewardsvacations.com"> Contact Us</a>
                     
                    </div>
                    <span class="copyright">Copyright &copy; 2018 Travel Vacation Services</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="@Url.Content("~/AreaAssets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/AreaAssets/vendor/jquery-easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/AreaAssets/js/agency.min.js")"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133181677-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-133181677-1');
        gtag('event', 'conversion', { 'send_to': 'AW-960425364/E4yTCK2SjJQBEJTb-8kD' });
    </script>
    <script type="text/javascript">
        (function () {
            window._pa = window._pa || {};
            var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
            pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/5c48b1f5670ede0f3a0000bb.js";
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
        })();
    </script>

    <script>
        $("#mainNav").removeClass("active");
        $(window).on("load", function () {
            $(".nav-link").on("click", function () {
                $(".navbar-toggler").trigger("click");
            });
            $("form").removeAttr('novalidate');
        });

        function submitoffer(cell,email) {
            var _url = '@Url.Action("step1","mobiles")';
            location.href = _url;
            }

        function submitoffer() { 
            var _url = '@Url.Action("step1","mobiles")';
            location.href = _url;
        } 
    </script>
    <style>
        .butn3 {
            background-color: #1AA204 !important;
            border-color: #1AA204 !important;
            font-size: 20px !important;
        }

        @@media (max-width: 768px) {
            .text-conten-procut-a {
                background-color: #1AA204 !important;
                border-color: #1AA204 !important;
                font-size: 20px !important;
            }
        }

        @@media screen and (max-width: 767px) {
            .mainfooter {
                background: #3698d5 !important;
            }
        }
    </style>
</body>
</html>