﻿@{
    Layout = null;
    int urlid = (int)ViewBag.isshorturl;
}
@model WebApplication1.Models.formmodal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Travel Rewards Vacations offers amazing VISA GIFT CARDS and relaxing free vacations to destinations worldwide. Select your travel rewards today before our promotions expire.">
    <meta name="keywords" content="travel reward vacations, vacations offers, travel rewards, travel reward">
    <meta name="author" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-1.7.2.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <meta http-equiv="Expires" content="0" />
    <link href="@Url.Content("~/AreaAssets/css/test-slider-fullwidth.min.css?v=1.2")" rel="stylesheet">
    <title>
        Get an Amazing Vacation and Cruise
    </title>
    <noscript id="deferred-styles">
        <link href="@Url.Content("~/AreaAssets/vendor/bootstrap/css/bootstrap.min.css?v=1.2")" rel="stylesheet">
        <link href="@Url.Content("~/AreaAssets/css/style.min.css?v=1.2")" rel="stylesheet ">
        <link href="@Url.Content("~/AreaAssets/css/fntl1main.min.css?v=1.2")" rel="stylesheet ">
    </noscript>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
</head>
<body id="page-top">
    <div class="overlay" style="display:block"></div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger mainlogo" href="#page-top">
                <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/loghead-o.png")">
                <span class="spanlog">
                    &nbsp;&nbsp;TRAVEL<br>  SERVICES
                </span>
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto ulmrgt">
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger" href="@Url.Action("index","getawayvacation")">Nationwide Getaway</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger lilast-child srtylenew" href="@Url.Action("index","resortstay")">Resort Stay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger" href="@Url.Action("index","floridavacation")">Hawaii Vacation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger lilast-child srtylenew" href="@Url.Action("index","bahamascruise")">
                            CRUISE FOR TWO
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link2 js-scroll-trigger openPhoneoly" href="@Url.Action("index","savingsdollars")">
                            All Inclusive Vacations
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-7">
                    <div class="intro-text">
                        <div class="intro-lead-in fontnew fnt36">
                            GET YOUR TRAVEL VACATIONS TODAY AND ENJOY OUR AMAZING GETAWAYS AND<br /> EXCITING CRUISES
                        </div>
     <a class="btn btn-primary  text-uppercase js-scroll-trigger none-windos responsivphone" href="@Url.Action("step1","mobiles")">
                            CLAIM YOUR FREE
                            VACATIONS
                        </a>
                        <a id="menu-button" style="display:none" href="@ViewBag.url">
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-md-5">
                    @using (Html.BeginForm("offer", "check_out", FormMethod.Post, new { role = "form", @id = "Form1" }))
                    {

                        <div class="form-boxmid">
                            <h1 class="fontnew fnt400">Promotion Expires @(DateTime.Now.AddDays(1).ToString("MMM d, yyyy"))</h1>
                            <h4 class="fontnew fnt400">COMPLETE THE FORM</h4>
                            <div class="input-row mrgtop0">
                                @Html.TextBoxFor(a => a.firstname, new { @maxlength = "30", @placeholder = "First Name", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.firstname)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.lastname, new { @maxlength = "30", @placeholder = "Last Name", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.lastname)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.cell, new { @maxlength = "10", @placeholder = "Cell Phone", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.cell)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.email, new { @maxlength = "45", @type = "email", @placeholder = "Email Address", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.email)
                            </div>
                            <div class="input-row">
                                @Html.TextBoxFor(a => a.zip, new { @maxlength = "5", @type = "text", @placeholder = "Zip Code", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.zip)
                            </div>
                            <div class="input-row inpurow1">

                                <h3 class="fontnew inputro2">
                                    <span style="width: 100% !important;">
                                        <input id="chk" type="checkbox" required="required" style="width: 18px !important;">By checking this checkbox, I provide my consent

                                        &amp; signature to receive promotional text and emails from Travel Vacation Services.
                                    </span>
                                </h3>
                            </div>
                            <div class="input-row mrgtop11">
                                <input type="button" onclick="submitoffer2('@Model.firstname','@Model.lastname','@Model.cell','@Model.email','@Model.address','@Model.city','@Model.state','@Model.zip')" class="btn btn-primary butn2 class12" style="font-size: 16px !important;" value="Unlimited Access" />
                            </div>
                            <div class="input-row inpurow1">
                                <h3 class="fontnew inputro2">
                                    Get Unlimited Access to our Vacations and Exclusive  Offers
                                </h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </header>
    <section id="services" class="">
        <div class="container">
            <div class="row hdn">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase hdn" id='comp-vacation-offers'><span> TRAVEL REWARD VACATIONS</span></h2>
                    <h3 class="section-subheading text-muted hdn">
                        GET YOUR UNLIMITED LIFETIME ACCESS TO OUR EXCLUSIVE TRAVEL VACATIONS BEFORE OUR PROMOTION EXPIRES @(DateTime.Now.AddDays(1).ToString("MMM d, yyyy")).  ENJOY FUN EXCLUSIVE OFFERS AND RELAXING

                        VACATIONS TO RESORT DESTINATIONS WORLDWIDE.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section id="section1" class="section-all hdn">
        <div class="container hdn">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="hdn" src="@Url.Content("~/AreaAssets/img/7nlr.jpg")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 7-NIGHT LUXURY RESORT STAY</h2>
                        <p>
                            Plan your dream vacation by searching for a spectacular week-long stay at hundreds of popular Resort Destinations around the world for the entire week! Experience tropical paradises, lush

                            countrysides, snowcapped mountains and more!
                        </p>
                        <a href="@Url.Action("index","resortstay")" class="btn btnbox hdn butn3 rm">Read More</a>
                    </div>
                    <div>
                        <a href="@Url.Action("step1","mobiles")" class="btn btnbox butn3 none-windos text-conten-procut-a">Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section2" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/2nhmi.png")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 3 DAY HOTEL GETAWAY VACATION</h2>
                        <p>
                            Enjoy 2 Exciting Evenings of  Hotel Accommodations at one of the Top Vacation Destinations, such as Orlando, Las Vegas, Los Angeles, Daytona, Fort Lauderdale, Branson, Sedona and

                            More!
                        </p>
                        <a href="@Url.Action("index","getawayvacation")" id='florida' class="btn btnbox hdn butn3 rm">Read More</a>

                    </div>
                    <div>
                        <a href="@Url.Action("step1","mobiles")" class="btn btnbox butn3 none-windos text-conten-procut-a" id='brahmas-cruise'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section3" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/Flv.png")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2> 5 DAY HAWAII VACATION </h2>
                        <p>
                            It's the perfect mix of the world's premier entertainment playground and a vacation paradise, with its beaches offering relaxation, recreation and pleasure!  You are sure to make a lifetime

                            of memories on the islands of paradise.

                        </p>
                        <a href="@Url.Action("index","floridavacation")" class="btn btnbox hdn butn3 rm " style="margin-top: 10px;" id='resort_stay'>Read More</a>
                    </div><div>
                        <a href="@Url.Action("step1","mobiles")" class="btn btnbox butn3 none-windos text-conten-procut-a" id='resort_stay'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section4" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" src="@Url.Content("~/AreaAssets/img/trsd.jpg")">
                </div>
                <div class="col-lg-6 text-center">
                    <div class="text-conten-procut">
                        <h2>
                            ALL INCLUSIVE VACATIONS TO THE CARIBBEAN & MEXICO
                        </h2>
                        <p>
                            Enjoy 4 days and 3 nights of all-inclusive accommodations at one of the following destinations: Bahamas, Domincan Republic or Mexico. Includes all meals, beverages and non-motorized

                            activities!
                        </p>
                        <a href="@Url.Action("index","savingsdollars")" class="btn btnbox hdn butn3 rm">Read More</a>
                    </div><div>
                        <a href="@Url.Action("step1","mobiles")" class="btn btnbox butn3 none-windos text-conten-procut-a">Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section5" class="section-all hdn">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center pddnomobile">
                    <img alt="travelrewardsvacations" title="travelrewardsvacations" class="hdn" id="imgship" src="@Url.Content("~/AreaAssets/img/2.jpg")">
                </div>
                <div class="col-lg-6 text-center ">
                    <div class="text-conten-procut">
                        <h2 style="text-transform: unset !important;">PICK a  3, 4, 5, or 7 NIGHT CRUISE </h2>
                        <p>
                            Enjoy a  Cruise for two that includes cabin, food, drinks & more! Enjoy your comfortable cabin, all your delicious meals, live stage shows and a stunning Las Vegas style casino!

                            Its the perfect, relaxing getaway...Bon Voyage!
                        </p>
                        <a href="@Url.Action("index","bahamascruise")" class="btn btnbox hdn butn3 rm" id='brahmas-cruise'>Read More</a>
                    </div><div>

                        <a href="@Url.Action("step1", "mobiles")" class="btn btnbox butn3 none-windos text-conten-procut-a" id='brahmas-cruise'>Unlimited Access</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="mainfooter">

        <div class="container">
            <div class="row">
                <div class="col-md-12 hdn">
                    <div class="boxmidfooter">
                        <a href="@Url.Action("index", "privacypolicy")">Privacy Policy</a>
                  <a class="nav-link js-scroll-trigger active" href="@Url.Action("index", "getawayvacation")">Terms and Conditions</a>
                        <a href="mailto:support@travelrewardsvacations.com"> Contact Us</a>
                    </div>
                    <span class="copyright">Copyright &copy; 2018 Travel Vacation Services</span>
                </div>
                <div class="col-md-12 none-windos">
                    <div class="boxmidfooter">
                 <a style="text-decoration:underline;font-size:16px;" href="@Url.Action("index", "privacypolicy")">Privacy Policy</a>
                        <a style="text-decoration:underline;font-size:16px;" href="mailto:support@travelrewardsvacations.com"> Contact Us</a>
                    </div>
                    <span class="copyright">Copyright &copy; 2018 Travel Vacation Services</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="@Url.Content("~/AreaAssets/vendor/bootstrap/js/bootstrap.bundle.min.js?v=1.2")"></script>
    <script src="@Url.Content("~/AreaAssets/vendor/jquery-easing/jquery.easing.min.js?v=1.2")"></script>
    <script>
        $("#mainNav").removeClass("active");
        $(window).on("load", function () {
            $(".nav-link").on("click", function () {
                $(".navbar-toggler").trigger("click");
            });
            $("#menu-button")[0].click();
        });
           
    </script>

</body>
</html>